.detail-warp{
    height: 100%;
    width: 100%;
    background: #f0f2f5 100%;
    position: relative;
    overflow: hidden;
}

.detail-box-wrap{
    position: absolute;
    box-shadow: 0 2px 4px 1px rgb(40 120 255 / 8%), 0 0 6px 1px rgb(0 0 0 / 8%);
}
.detail-box-wrap img{
    width: 100%;
}

.detail-layer{
    position: absolute;
    /* border: 1px solid red; */
}

.detail-layer:hover{
    border: 1px solid blue;
}

.detail-layer-selected{
    position: absolute;
    border: 1px solid red;
}

.layer-rect-width-value{
    font-size: 12px;
    background-color: rgb(254, 64, 102);
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    left: 50%;
    top: 0;
    position: absolute;
    transform: translate(-50%, calc(-100% - 3px)); 
    line-height: 18px;
    padding: 0 3px;
    border-radius: 2px;
}
.layer-rect-height-value{
    background-color: rgb(254, 64, 102);
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translate(calc(-100% - 3px), -50%);
    line-height: 18px;
    padding: 0 3px;
    border-radius: 2px;
    font-size: 12px;
}