.detail-warp{
    height: 100%;
    width: 100%;
    background: #f0f2f5 100%;
    position: relative;
    overflow: hidden;
}

.detail-box-wrap{
    position: absolute;
    box-shadow: 0 2px 4px 1px rgb(40 120 255 / 8%), 0 0 6px 1px rgb(0 0 0 / 8%);
}
.detail-box-wrap img{
    width: 100%;
}

.detail-layer{
    position: absolute;
}

.detail-layer:hover{
    border: 1px solid#0099FF;
}

.detail-layer-selected{
    position: absolute;
    border: 1px solid red;
}

.layer-rect-width-value{
    font-size: 12px;
    background-color: rgb(254, 64, 102);
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    left: 50%;
    top: 0;
    position: absolute;
    transform: translate(-50%, calc(-100% - 3px)); 
    line-height: 18px;
    padding: 0 3px;
    border-radius: 2px;
}
.layer-rect-height-value{
    background-color: rgb(254, 64, 102);
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translate(calc(-100% - 3px), -50%);
    line-height: 18px;
    padding: 0 3px;
    border-radius: 2px;
    font-size: 12px;
}

.distance{
    position: absolute;
    background-color: rgb(254, 64, 102);
}
.distance-vertical{
    width: 1px;

}
.distance-horizontal{
    height: 1px;
}

.distance span{
    display: inline-block;
    font-size: 12px;
    background-color: rgb(254, 64, 102);
    color: rgba(255, 255, 255, 0.9);
    line-height: 18px;
    padding: 0 3px;
    border-radius: 2px;
    position: absolute;
}

.distance-vertical span{    
    top: 50%;
    transform: translate(calc(-100% - 3px), -50%);
}
.distance-horizontal span{
    left: 50%;
    transform: translate(-50%, calc(-100% - 3px)); 
}

.ruler{
    position: absolute;
    border: .5px dashed#0099FF;
    left: 0;
    top:0;
}

.ruler-vertical{
    width: 0px;
    height: 100%;
}
.ruler-horizontal{
    height: 0px;
    width: 100%;
}


.inspector{
    display: flex;
    flex-direction: column;
}

.inspector .item{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 16px;
}

.inspector .item-title{
    width: 60px;
    display: block;
    flex: none;
    color: rgb(110, 116, 125);
    line-height: 30px;
    white-space: nowrap;
}

.inspector .item-value{
    flex: 1;
    overflow: hidden;
    background: #f4f7fd;
    margin-left: 8px;
    border-radius: 4px;
    padding-left: 14px;
    cursor: pointer;
    line-height: 30px;
    color: #0e1726;
}