html,body{
    height: 100%;
    width: 100%;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
}
#app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-header{
    border: 1px solid rgb(235, 237, 240);
}

.wrap {
    width: 100%;
    height: 0;
    background: #f0f2f5 100%;
    flex: 1;
    display: flex;
    overflow: hidden;
}

.tree{
    height: 100%;
    width: 260px;
    background: #fff;
    box-shadow:#eee 3px 0px 1px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    z-index: 1;
}
.tree-item{
    text-indent: 20px;
    line-height: 40px;
}
.tree-item-active{
    text-indent: 20px;
    line-height: 40px;
    background: #e6f7ff;
}


.free-board{
    position: relative;
    width: 100%;
    height: 100%;
}

.board-wrap{
    /* outline: rgb(62, 147, 255) solid 2px; */
    box-shadow:#eee 0px 0px 5px;
    background: #fff;
    position: absolute;
}


.board-wrap-active{
    outline: rgb(62, 147, 255) solid 2px;
    box-shadow:#eee 0px 0px 5px;
    background: #fff;
    position: absolute;
}


.board-wrap img{
    width: 100%;
}
.board-wrap-active img{
    width: 100%;
}